
.progress .bar {
  background: #d3e7f3;
  border: 1px solid #98b3d6;
  height: 3em;
}

.progress .filled {
  background: none repeat scroll 0 0 #2688c5;
  border-bottom: 0.2em solid #1a64b2;
  height: 2.8em;
}

